AI_Career_Advisor .json
{
  "name": "AI Career Advisor",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Student Name: {{ $json.Name }}\n\nBranch: {{ $json.Branch }}\n\nSkills: {{ $json.Skills }}\n\nInterests: {{ $json.Interests }}\n\nAnalyze this student profile and provide personalized career guidance.",
        "options": {
          "systemMessage": "FORMATTING REQUIREMENTS\n\n* Use proper line breaks.\n* Use blank lines between sections.\n* Use bullet points instead of paragraphs where possible.\n* Never compress information into one sentence.\n* Each section must start on a new line.\n* Student Information must be displayed as separate fields.\n\nADDITIONAL REPORT SECTIONS\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n📊 CAREER READINESS SCORE\n\nProvide realistic scores out of 100 for:\n\n• Technical Skills\n• Project Experience\n• Industry Readiness\n• Learning Potential\n\nAlso calculate an Overall Career Readiness Score.\n\nExample format:\n\n📊 CAREER READINESS SCORE\n\nOverall Career Readiness: XX/100\n\nTechnical Skills: XX%\nProject Experience: XX%\nIndustry Readiness: XX%\nLearning Potential: XX%\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n💰 EXPECTED SALARY RANGE\n\nBased on the recommended career path, provide estimated salary ranges in India.\n\nFormat:\n\n💰 EXPECTED SALARY RANGE\n\nInternship:\n₹X,XXX – ₹XX,XXX / month\n\nFresher (0–2 years):\n₹X – XX LPA\n\nExperienced (2–5 years):\n₹X – XX LPA\n\nSenior Level (5+ years):\n₹XX – XX LPA\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n\n\nFORMATTING RULES\n\nUse this separator line between every major section:\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nExample:\n\nAI Career Assessment Report\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n👤 STUDENT INFORMATION\n\nStudent Name: Duru\n\nBranch: EXTC\n\nSkills: C++\n\nInterests: IoT, AI\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n📝 PROFILE SUMMARY\n\nStrengths:\n• Electronics & Telecommunication background\n• C++ programming skills\n• Strong interest in IoT and AI\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n🚀 TOP CAREER MATCHES\n\n...\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n💪 STRENGTHS\n\n...\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n⚠️ SKILL GAPS\n\n...\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n📊 CAREER READINESS SCORE\n\n...\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n💰 EXPECTED SALARY RANGE\n\n...\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n📚 LEARNING ROADMAP\n\n...\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nEND OF REPORT\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nAlways place one blank line before and after the separator.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        64,
        -16
      ],
      "id": "88c36714-4459-44ae-8e4a-3a4c5a24816c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "16018a1c-a4f3-40a5-8f22-d6af78630b8d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uwTS190F1GTB0NaA",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "AI Career Advisor",
        "formDescription": "Fill this form to get personalized career recommendations and learning roadmap.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Branch",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "EXTC"
                  },
                  {
                    "option": "Computer"
                  },
                  {
                    "option": "IT"
                  },
                  {
                    "option": "Mechanical"
                  },
                  {
                    "option": "Civil"
                  },
                  {
                    "option": "AIDS"
                  },
                  {
                    "option": "Other"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Skills",
              "fieldType": "textarea",
              "placeholder": "C, C++, Python, Arduino, MATLAB"
            },
            {
              "fieldLabel": "Interests",
              "fieldType": "textarea",
              "placeholder": "Embedded Systems, IoT, AI, Robotics"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -144,
        0
      ],
      "id": "f5587457-c86f-483c-a828-08a4538eace6",
      "name": "On form submission",
      "webhookId": "0c158c48-668c-4123-9a3e-7a513882379d"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "={{ $json.html }}"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        784,
        -144
      ],
      "id": "7b1ef782-9491-4688-bcc7-5beb4405b8bb",
      "name": "Form",
      "webhookId": "1342098c-cbb9-41da-9fe0-0e225688104f"
    },
    {
      "parameters": {
        "jsCode": "const text = items[0].json.output || '';\n\nreturn [\n  {\n    json: {\n      report: text.replace(/\\\\n/g, '\\n')\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -32
      ],
      "id": "bef79c00-8464-4700-8e3a-59ac5c1c48d3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<title>AI Career Assessment Report</title>\n<style>\nbody {\n    font-family: Arial, sans-serif;\n    margin: 40px;\n    line-height: 1.6;\n}\n.container {\n    border: 2px solid #333;\n    padding: 30px;\n}\nh1 {\n    text-align: center;\n}\npre {\n    white-space: pre-wrap;\n    word-wrap: break-word;\n    font-family: Arial, sans-serif;\n}\n</style>\n</head>\n<body>\n\n<div class=\"container\">\n\n<h1>AI Career Assessment Report</h1>\n\n<pre>\n{{$json.report}}\n</pre>\n\n</div>\n\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        592,
        -32
      ],
      "id": "c6f03a16-5474-4080-839c-19bb1994c79d",
      "name": "HTML"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8ab3cb0b-76ef-4e5b-89a3-02c75c2e7f95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c113a7a6e300cf07caa5450c40011fa650b62a3a95f1d6ecf100c74500e6fa8"
  },
  "nodeGroups": [],
  "id": "0mXRWa4xsyYIW2Uf",
  "tags": []
}